<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%  data.forEach(item=>{ %>
        <h1><%=item.Tagline%></h1>
        <form action="/accept" method="post">
            <input type="hidden" value="<%=item._id%>" name="id">
            <button type="submit">verify</button>
        </form>
  <%  })  %>
     
</body>
</html>